<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin-top: 300px;
            text-align: center;
            border: 2px solid rgb(225, 223, 223);
            padding: 20px;
            width: 90%;
            background-color: white;
            margin: 31px auto 0;
            border-radius: 20px;
            box-sizing: border-box;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

        }
        #btn:hover{
            background-color: rgb(67, 65, 65);
        }

        #btn {
            margin-top: 10px;
            background-color: black;
            color: white;
            line-height: 25px;
            border-radius: 20px;
            width: 40%
        }
        h1{
            font-size: 28px;
            margin-top: 0;
        }
        p{
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container" id="ct">
        <h1>Seatz</h1>
        <p>Thank you for using Seatz! We hope you have a safe and enjoyable journey.</p>
        <button onclick="window.location.href='/index'" id="btn">Home</button>
    </div>
</body>

</html>
