<!DOCTYPE html>
<html>

<head>
  <title>Log In</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
  <div class="container">
    <h2>Seatz</h2>
    <form action="/login" method="post">
    
      <input type="email" id="email" placeholder="Email" name="email" required><br><br>

      <input type="password" id="password" placeholder="Password" name="password" required><br><br>

      <button type="submit">Login</button>

      <p>Not a member yet? <a href="/signup">Sign up</a><br><a href="/forgotpass" id="fp">Forgot password?</a></p>
      
    </form>
  </div>
</body>

</html>