body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  border: 2px solid rgb(225, 223, 223);
  padding: 74px;
  width: 802px;
  height: 588px;
  background-color: white;
  margin: 131px auto 0;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#logo {
  width: 25px;
  height: 25px;
}

h2 {
  margin-top: 3px;
  text-align: center;
  margin-bottom: 25px;
  color: black;
  font-size: 55px;
}

form {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
}


input[type="password"] {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}

input[type="email"] {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: -1rem;
}

button[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 1rem;
  font-size: 2.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  margin-top: -28px;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: rgb(67, 65, 65);
}

form p {
  text-align: center;
  font-size: 23px;
}

p a {
  text-decoration: none;
  color: #23629F;
}

#fp {
  display: flex;
  padding-top: 7px;
  align-items: center;
  justify-content: center;
  /* text-decoration: none; */
}
