body {
  background-color: #fff;
}

h2 {
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 40px;
}

form {
  max-width: 400px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  align-items: center;
}

.container {
  border: 2px solid rgb(225, 223, 223);
  padding: 20px;
  width: 40%;
  height: 506px;
  background-color: white;
  margin: 31px auto 0;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 95%;
  line-height: 1.5;
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: -10px;
}

input[type="text"] {
  display: inline-block;
  width: 95%;
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: -10px;
}

p a {
  text-decoration: none;
  color: #23629F;
}

.btnSignUp {
  margin-top: 7px;
  width: 100%;
  display: block;
  margin: 1rem left;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnSignUp:hover {
  background-color: rgb(67, 65, 65);
}